html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html { 
	/*background: url(images/3.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
	font-size: 26px;
}
ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

#routine {
	margin-left: 10px;
}

#title {
	color: white;
	font-family: 'Arimo', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-left: 10%;
	font-weight: 700;
	width: 70%;
	margin-top: 30%;
}


.main {
	margin-left: 10%;
	display: inline-block;
	position: absolute;
	top: 0;
	font-family: 'Playfair Display', serif;
}

.entry {
	margin: 20px;
	padding: 10px;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.date {
	width: 150px;
	float: left;
	font-family: 'Arimo', sans-serif;
	margin-top: 50px;
	font-size: 15px;
	font-weight: 700;
}
.body {
	margin-left: 150px;
	margin-top: 30px;
	background-color: #f7f7f7;
	max-width: 60%;
	max-height: 5%;
	font-size: 12px;
	padding:20px;
	line-height: 200%;
}

#list {
	text-align: left;
	padding: 10px;
}

.text {
	font-family: 'Raleway';
}
.title {
	font-size: 12px;
	margin-bottom: 5px;
	font-family: "Playfair Display";
	font-weight: 700;
	text-align: center;
}

#photos {
  opacity: .88;
}

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px;
}

ul {
  list-style: none;
  margin: 0px auto;
  padding: 10px;
  display: block;
  max-width: 780px;
  text-align: center;
}

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photos {
  width: 100%;
}

#photo-gallery {
  width: 100%;
}